.miss-cohen-project-card {
  height: 30em;
  width: 20em;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 9px 1px grey !important;
          box-shadow: 0 0 9px 1px grey !important;
  background-color: black !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 1s all !important;
  transition: 1s all !important;
}

.miss-cohen-project-card:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(2px 2px 20px purple);
          filter: drop-shadow(2px 2px 20px purple);
}

.miss-cohen-project-card .miss-cohen-logo {
  height: 13em;
  width: 13em;
  margin-top: -3em;
}

.miss-cohen-project-card .miss-cohen-cards-container .miss-cohen-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.miss-cohen-project-card .miss-cohen-cards-container .miss-cohen-card .miss-cohen-dish {
  width: 8em;
  border-radius: 5px;
}

.miss-cohen-project-card .miss-cohen-cards-container .miss-cohen-card .miss-cohen-add-btn {
  margin-top: 1em;
  font-size: 10px;
}
