.book {
  position: relative;
  width: 20em;
  height: 30em;
  border-radius: 4px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  font-family: "Crimson Text", serif;
  cursor: pointer;
}