.project-card{
    height:30em;
    width:20em;
    border-radius:20px;
    box-shadow: 0 0 9px 1px grey!important;
    background-color: black!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 1s all!important;
    &:hover{
            cursor: pointer;
            filter: drop-shadow(2px 2px 20px blue); 
        }
    .incoming-call-btns-container{
        width:50%;
        display: flex;
        justify-content: space-around;
    }
    .user-calling{
        .username, .incoming-call-text{
            text-align: center;
            color: white;
            margin-bottom: 0.5em;
        }
    }
    .shira-avatar{
        height:10em;
        width: 10em;
        border-radius:50%;
    }
}