.projects-stripe-container{
    float: right;
    height: 100vh;
    display: flex;
    padding-top: 3em;
    background-color: #1D1D1D;
    align-items: flex-start;
    justify-content: space-around;
    width:90%;
}