.about-wrapper{
    // width: 90%;
    // height: 70vh;
    // float: right;
    background-color: #1D1D1D;
    display: flex;
    justify-content: space-around;
    .about-container{
        margin-bottom:4em;
        width: 80%;
        color:white;
        .carousel-container{
            display: flex;
            align-items: center;
            .carousel{
                .carousel-slide{
                    height: 10em;
                    width: auto;
                }
            }
        }
    }

}