.about-wrapper{
    width: 90%;
    height: 100vh;
    float: right;
    background-color: #1D1D1D;
    display: flex;
    justify-content: space-around;
    .about-container{
        margin-top:4em;
        width: 80%;
        color:white;
        .carousel-container{
            .carousel{
                .carousel-slide{
                    height: 10em;
                    width: auto;
                }
            }
        }
    }

}